<!DOCTYPE html>
<html>
  <head>
    <title>YumList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bg-light">
      <%= render "/layouts/header" %>
    </div>
    <div class="container">
      <% if flash[:notice].present? %><p><%= flash[:notice] %></p><% end %>
      <%= yield %>
    </div>
  </body>
</html>
